doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">  
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Synctube
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Synctube

        main
            div#welcome
                form 
                    input(placeholder="room name", required, type="text")
                    button Enter Room
                h4 Open Rooms:
                ul
            div#room
                h3
                ul
                form#name
                    input(placeholder="name", required, type="text")
                    button Save
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
            div#player
                script(src="/public/js/player.js")
            div#videoUrl
                form#playNow
                    input(placeholder="video url", required, type="text")
                    button Play now
                form#addPlaylist
                    input(placeholder="video url", required, type="text")
                    button Add playlist
                    ol
            div(id="comment", overflowY = "scroll", maxHeight="500px")
                h3 Comments:
                ul
                
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")