doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SyncTube
    link(rel="stylesheet" href="/public/css/test.css")
  body
    .container
      header.header
        .logo SYNC TUBE
        input.media-input(type="text" placeholder="Enter media url here")
        .user-controls
          button.playlist-btn Playlist
          button.chat-btn Chat
          .user-icon &#128100;

      main.main-content
        .video-area
          .no-video No Video
        aside.sidebar
          .playlist
            h3 Playlist
            div No upcoming Videos
          .chat
            h3 Chat
            .chat-messages
              .chat-message
                span.user P.J Kim
                span.status &#11044;
                // Repeat for each message

      footer.footer
        | Room #766
