* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    /* font-family: 'Arial', sans-serif; */
    background-color: #39323f; /* Light blue background */
    color: #fff; /* Darker text for better contrast */
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.playlist-container{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.visible-scrollbar {
    display: block;
    width: 10em;
    overflow: auto;
    height: 2em;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #39323f; /* Lighter blue for header */
}

.flex-grow-1 {
    padding: 10px;
    background-color: #1a1a1a; /* Lighter blue for header */
}

#chatForm .btn {
    flex-shrink: 0;
    background-color: #36383a; /* Blue background for send button */
    color: #fff; /* White text for send button */
    border: none; /* No border for send button */
}

.chat-messages {
    margin-top: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #d1e0e5; /* Light blue for footer */
    color: #333; /* Dark text for footer */
}

.list-group-item {
    background-color: #535555; /* Light blue for footer */
    color: #ffffff;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #39323f; /* White background for chat container */
}

.comment-container {
    background-color: #39323f; /* White background for chat container */
}

.sortable-ghost {
    background-color: #cfd3d6;
    opacity: 0.7;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat-input-container {
    margin-top: auto;
}

#chatForm {
    display: flex;
}

#chatForm .form-control {
    margin-right: 5px;
    border: 1px solid #a4b8c4; /* Light blue border for input */
}
